:root {
    --bg1: lightblue;
    --bg2: rgb(50, 160, 204);
    --bg3: rgb(89, 134, 206);

    --color1: rgb(26, 115, 232);
    --color2: rgb(24, 128, 56);
    --color3: rgb(197, 34, 31);

    --gray2: #aaa;
    --gray2: #888;
    --gray2: #333;


    /* gmail */

    /* gmail mail list */
    --bc-gl1: #f8fafd;

    --gl1: #f2f6fc;

    --gl-shadow1: rgb(218, 220, 224);
    --gl-shadow2: rgba(60, 64, 67, .15);

    --gl-font1: rgb(32, 33, 36);
    --gl-font2: rgb(95, 99, 104);
    --gl-font3: #dd4b39;
    --gl-font4: #081e48;
    --gl-font5: #f9b200;
    --gl-font6: #bdc1c4;
    --gl-font7: #b3261e;

    --g-btn1: #2157cd;
    --g-btn2: #c2e7ff;
    --g-btn3: #d4e3fc;
    --g-btn4: #e9eef6;
    --g-btn5: #d4e3fc;



    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
}