.mail-index {
    background-color: white;
    height: calc(100vh - var(--header-height))
}

.main-gmail-layout {
    display: grid;
    grid-template-columns: 1fr;
}

.loader {
    height: 80vh;
    border-radius: 16px;
}


@media (min-width: 850px) {
    .main-gmail-layout {
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        background-color: var(--bc-gl1);
    }
}