.emails-wrapper {
    font-size: 0.875rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;

    overflow: hidden;
    border-radius: 16px;
    height: max-content;


    height: 95%;
}

.emails-bar {
    flex-direction: column;
    align-items: start;

    min-height: 3.42857142857em;
    /* margin-inline-end: 1.14285714286em;
    padding-inline: 1.14285714286em; */
    background-color: white;
}

.emails-bar>.folder-name {
    text-transform: uppercase;
    padding: 1.07142857143em;
    font-size: 1.14285714286em;
}

.emails-list>.emails-footer {
    background-color: white;
    padding: 1.14285714286em;
}

.emails-list .mail-preview {
    position: relative;

    display: grid;
    grid-template-columns: 60px 1fr;

    padding-block: 0.71428571428em;
    cursor: pointer;

    line-height: 1.42857142857;
    color: var(--gl-font2);

    background-color: white;

    padding-inline-end: 0.71428571428em;
}

.emails-list .mail-preview>.more-list-btns {
    display: none;
}

.emails-list .mail-preview>.more-list-btns>* {
    color: var(--gl-font2);
}

.emails-list .no-mail {
    position: relative;
    padding-block: 0.71428571428em;

    line-height: 1.42857142857;
    color: var(--gl-font1);
    font-weight: bold;
    text-align: center;
    background-color: var(--gl1);
}


.emails-list .mail-preview>.icon {
    grid-area: 1 / 1 / 3 /1;
    justify-self: center;
    max-width: 40px;
    aspect-ratio: 1/1;
}

.emails-list .mail-preview>.icon>.usr-icon {
    display: block;
    border-radius: 50%;
    object-fit: contain;
}

.emails-list .mail-preview>.grip {
    display: none;
    position: relative;
    width: 0.21428571428em;
}

.emails-list .mail-preview>.grip>.fa.grip-vertical {
    position: absolute;
    top: 50%;
    left: 0.28571428571em;
    translate: 0 -50%;
    opacity: 0;

}

.emails-list .mail-preview:hover>.grip>.fa.grip-vertical {
    opacity: 0.4;
    cursor: grab;
    z-index: 1;
}


.emails-list .mail-preview>.mail-envelope {
    padding-inline: 0.92857142857em;
    /* padding-inline-end: 0.71428571428em; */

    /* * */
    min-width: 1.42857142857em;
    /* font-size: 1.07142857143em; */
}

.emails-list .mail-preview>.mail-labels {
    padding-inline-end: 0.71428571428em;
}

.emails-list .mail-preview>.mail-star {
    grid-area: 2 / 3;
    text-align: end;
    align-self: end;
    z-index: 2;
}

.emails-list .mail-preview>.mail-star:has(.fa.star) {
    color: var(--g-btn1);
}

.emails-list .mail-preview>.mail-envelope,
.emails-list .mail-preview>.mail-labels {
    display: none;
}


.emails-list .mail-preview:has(.fare.envelope)>.sent-from,
.emails-list .mail-preview:has(.fare.envelope)>.mail-content .mail-subject,
.emails-list .mail-preview:has(.fare.envelope)>.sentat {
    font-weight: bold;
}

.emails-list .mail-preview>.sent-from {
    display: flex;
    padding-inline-end: 2.28571428571em;
    flex-basis: 168px;
    flex-shrink: 0;
    overflow: hidden;
}

.emails-list .mail-preview>.sent-from>span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.emails-list .mail-preview>.mail-content {
    grid-area: 2 / 2 / 2/ 4;
    display: flex;

    flex: 1 1 auto;
    padding-inline-end: 1.78571428571em;
    min-width: 0;
}

.emails-list .mail-preview>.mail-content>.mail-label {
    display: none;
}

.emails-list .mail-preview>.mail-content>.content-line {
    display: flex;
    flex-direction: column;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.emails-list .mail-preview>.mail-content>.content-line>span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.emails-list .mail-preview>.gap {
    display: none;
    flex-basis: 1.42857142857em;
    max-width: 1.42857142857em;
    padding-left: 0.57142857142em;
}

.emails-list .mail-preview>.sentat {
    grid-area: 1 / 3;
    text-wrap: nowrap;
    background-color: inherit;
}

@media (min-width: 850px) {

    .emails-wrapper {
        grid-area: 1/2;
        display: flex;
        flex-direction: column;
        margin: 0.71428571428em;
    }

    .emails-bar {
        flex-direction: row;
        box-shadow: inset 0px -1px 0px var(--gl-shadow2);
    }

    .emails-bar>.folder-name {
        display: none;
    }

    .emails-list {
        overflow-y: auto;
        flex-grow: 1;
    }

    .emails-list .mail-preview {
        display: flex;
        background-color: var(--gl1);
        box-shadow: inset 0 -1px 0 0 var(--gl-shadow2);
        color: var(--gl-font1);
        padding-inline-end: 0;
    }

    .emails-list .mail-preview:hover {
        box-shadow:
            inset -1px 0 0 var(--gl-shadow1),
            inset 1px 0 0 var(--gl-shadow1),
            0 1px 2px 0 var(--gl-shadow2),
            0 1px 3px 1px var(--gl-shadow2);
        z-index: 2;
    }

    .emails-list .mail-preview>.more-list-btns {
        display: none;
        position: absolute;
        top: 0;
        right: 0;

        justify-content: center;
        align-items: center;

        height: 98%;
        background-color: inherit;

        padding-inline: 0.92857142857em;
    }

    .emails-list .mail-preview>.mail-star:has(.fa.star) {
        color: var(--gl-font5);
    }

    .emails-list .mail-preview>.more-list-btns span {
        padding-inline: 0.92857142857em;
    }

    .emails-list .mail-preview:hover>.more-list-btns {
        display: flex;
    }


    .emails-list .mail-preview:has(.fare.envelope) {
        background-color: white;
    }

    .emails-list .mail-preview .fa,
    .emails-list .mail-preview .fare {
        position: relative;
    }

    .emails-list .mail-preview .fa::after,
    .emails-list .mail-preview .fare::after {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        content: '';
        background-color: rgba(0, 0, 0, 0.1);
        width: 1.42857142857em;
        height: 1.42857142857em;
        border-radius: 50%;
        opacity: 0;
        transition: 200ms;
    }

    .emails-list .mail-preview .fa:hover::after,
    .emails-list .mail-preview .fare:hover::after {
        opacity: 1;
        width: 2.78571428571em;
        height: 2.78571428571em;
    }

    .emails-list .mail-preview>.icon {
        display: none;
    }

    .emails-list .mail-preview>.mail-star {
        padding-inline-end: 0.71428571428em;
        z-index: 0;
        text-align: center;
        align-self: auto;
    }

    .emails-list .mail-preview>.mail-envelope,
    .emails-list .mail-preview>.mail-star,
    .emails-list .mail-preview>.mail-labels {
        display: flex;
        position: relative;
        color: var(--gl-font6);
        fill: var(--gl-font6);
        font-weight: bold;
        flex-shrink: 0;
    }

    .emails-list .mail-preview:hover>.mail-envelope,
    .emails-list .mail-preview:hover>.mail-star,
    .emails-list .mail-preview:hover>.mail-labels {
        color: var(--gl-font2);
        fill: var(--gl-font6);
    }

    .emails-list .mail-preview:hover>.mail-labels>* {
        fill: var(--gl-font6);
    }



    .emails-list .mail-preview>.grip,
    .emails-list .mail-preview>.gap {
        display: flex;
    }

    .emails-list .mail-preview>.mail-content {
        flex-direction: row;
        color: var(--gl-font2);
    }

    .emails-list .mail-preview>.mail-content>.mail-label {
        display: flex;
        overflow: visible;
        font-size: 0.85714285714em;
        margin-inline: 0.16666666666em;
        background-color: var(--gl-shadow1);
        padding: 0.16666666666em;
        border-radius: 5px;
        align-self: center;
    }

    .emails-list .mail-preview>.mail-content>.content-line {
        display: block;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }


    .emails-list .mail-preview>.mail-content>.content-line>.mail-subject {
        color: var(--gl-font1);
    }

    .emails-list .mail-preview>.mail-content>.content-line>.mail-subject::after {
        content: '-';
        padding: 4px;
    }

    .emails-list .mail-preview>.sentat {
        padding-inline-end: 1.14285714286em;
    }

}