/* display */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

/* solid */

.fa::before {
    font-family: fa;
}

.fa.grip-vertical::before {
    content: '\f58e';
}

/* regular */

.fare::before {
    font-family: fare;
}

.fare.square::before {
    content: '\f0c8';
}

.fare.star::before {
    content: '\f005';
}

.fare.book-mark::before {
    content: '\f02e';
}