/* display */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

/* solid */

.fa::before {
    font-family: fa;
}

.fa.grip-vertical::before {
    content: '\f58e';
}

.fa.arrow-left::before {
    content: '\f060';
}

.fa.pen::before {
    content: '\f304';
}

.fa.envelope-open-text::before {
    content: '\f658';
}

.fa.x::before {
    content: '\58';
}

/* regular */

.fare::before {
    font-family: fare;
}

.fare.square::before {
    content: '\f0c8';
}

.fare.star::before {
    content: '\f005';
}

.fare.book-mark::before {
    content: '\f02e';
}

.fare.envelope::before {
    content: '\f0e0';
}

.fare.envelope-open::before {
    content: '\f2b6';
}

.fare.paper-plane::before {
    content: '\f1d8';
}

.fare.trash-can::before {
    content: '\f2ed';
}

.fare.note-sticky::before {
    content: '\f249';
}