/* display */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* font awsome */

/* solid */

.fa::before {
    font-family: fa;
    line-height: 1.42857142857em;
}

.fa.grip-vertical::before {
    content: '\f58e';
}

.fa.arrow-left::before {
    content: '\f060';
}

.fa.pen::before {
    content: '\f304';
}

.fa.inbox::before {
    content: '\f658';
}

.fa.x::before {
    content: '\58';
}

.fa.magnifying-glass::before {
    content: '\f002';
}

.fa.check::before {
    content: '\f00c';
}

.fa.star::before {
    content: '\f005';
}

.fa.sent::before {
    content: '\f1d8';
}

.fa.trash::before {
    content: '\f2ed';
}

.fa.draft::before {
    content: '\f15b';
}

.fa.tag::before {
    content: '\f02b';
}

.fa.caret-right::before {
    content: '\f0da';
}

.fa.family::before {
    content: '\f03e';
}

.fa.spam::before {
    content: '\f075';
}

.fa.work::before {
    content: '\f1ad';
}

.fa.friends::before {
    content: '\f118';
}

/* regular */

.fare::before {
    font-family: fare;
}

.fare.square::before {
    content: '\f0c8';
}

.fare.star::before {
    content: '\f005';
}

.fare.book-mark::before {
    content: '\f02e';
}

.fare.envelope::before {
    content: '\f0e0';
}

.fare.envelope-open::before,
.fare.inbox::before {
    content: '\f2b6';
}

.fare.sent::before {
    content: '\f1d8';
}

.fare.trash::before {
    content: '\f2ed';
}

.fare.note-sticky::before {
    content: '\f249';
}

.fare.draft::before {
    content: '\f15b';
}

.fare.folder-open::before {
    content: '\f07c';
}

.fare.family::before {
    content: '\f03e';
}

.fare.spam::before {
    content: '\f075';
}

.fare.work::before {
    content: '\f1ad';
}

.fare.friends::before {
    content: '\f118';
}