 /* note index */
 .container {
     display: flex;
     flex-direction: column;
     align-items: center;
     font-family: Roboto, Helvetica, Arial, sans-serif;
     overflow: hidden;
     /* font-size: 0.875rem; */
 }