 /* note list */

 .note-list {
    column-width: 240px;
    column-gap: 10px;
    margin-top: 20px;
    direction: ltr;
}

.note-card {
    display: inline-block;
    width: 240px;
    break-inside: avoid;
    margin-bottom: 10px;
    
    border: 1px solid #e0e0e0;
    padding: 16px;
    border-radius: 8px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.note-details {

}

.note-options {

}