 /* note list */

 .note-list {
    width: 100%;
    column-count: auto;
    column-width: 240px;
    column-gap: 10px;
    margin-top: 20px;
    direction: ltr;
}

.note-card {
    /* display: inline-block; */
    width: 240px;
    break-inside: avoid;
    margin-bottom: 10px;
    
    border: 1px solid #e0e0e0;
    padding: 16px;
    border-radius: 8px;
    background: #ffffff;
    transition: all 0.3s ease-in-out;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.note-details {

}

.note-options {

}


 /* .psado {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background-color: rgb(255, 255, 255);
 }

 .psado::before {
     content: 'hello';
 }

 .psado:hover::before {
     content: 'bye';
 }

 .psado::after {
     position: absolute;
     top: 50%;
     left: 50%;
     translate: -50% -50%;

     width: 20px;
     height: 20px;
     background-color: rgba(0, 255, 255, 0.167);
     opacity: 0;
     transition: 200ms;
     border-radius: 50%;
 }

 .psado:hover::after {
     opacity: 1;
     width: 100px;
     height: 100px;
 } */