.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-block: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: text;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .20);
    overflow: hidden;
}

.input-container input,
.input-container textarea {
    border: none;
    outline: none;
    overflow: hidden;
    resize: none;
    padding: 12px 16px;
    font-size: 1em;
    width: 100%;
    border-radius: 8px;
}

.input-container.expanded {
    border-color: #888;
}

.title-input {
    margin-top: 5px;
}

 .textarea-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container .content-input {
    flex: 1;
    padding-right: 40px;
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 12px 16px;
    width: 100%;
}

.video-btn {
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.buttons-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
}

.note-type-btns {
    display: flex;
    gap: 10px; 
}

.note-type-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 6px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: transform 0.2s ease, background 0.3s ease;
}

.note-type-btns button:hover {
    background: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
}

.video-btn,
.image-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
}

.video-btn::before,
.image-btn::before {
    font-weight: 900;
}

.image-btn {
    margin-left: 5px;
}