 /* note index */
 .container {
     font-family: Roboto, Helvetica, Arial, sans-serif;
     overflow: hidden;
     /* font-size: 0.875rem; */
 }

 .note-main-layout {
     display: grid;
     grid-template-columns: max-content 1fr;
 }

 .main-content {
     grid-area: 1/2;

     display: flex;
     flex-direction: column;
     align-items: center;
 }