.note-search-category {
    display: flex;
    flex-direction: column;
}

/* Labels Category Styling */
.labels-category {
    width: 650px;
    margin: 16px 80px;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 
                0 1px 3px 1px rgba(60, 64, 67, 0.15);
    animation: fadeInUp 400ms;
    overflow: visible;
}

.labels-title {
    width: 620px;
    padding: 10px;
}

.labels-picker {
    display: flex;
    justify-content: flex-start;
    width: 644px;
    height: 158px;
    gap: 6px;
    overflow: visible;
    
}

.labels-picker input {
    display: none;
}

.labels-picker .label-pick {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;

    padding-bottom: 15px;
    cursor: pointer;
    background-color: #f2f2f2;
    text-align: center;

    background-size: 25%;
    min-height: 155px;
    min-width: 158px;
    height: 98%;
    width: 100%;
    
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.8);
    }
}

.label-pick .label-tag {
    position: absolute;
    align-self: anchor-center;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: gray;
}

.label-pick .label-name {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 500;
    color: #333;
}

.colors-category {
    width: 650px;
    height: 137px;
    margin: 16px 80px;
    background-color: #fff;
    font-weight: 500;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 
                0 1px 3px 1px rgba(60, 64, 67, 0.15);
    animation: fadeInUp 800ms;
    overflow: visible;
}

.colors-title {
    width: 620px;
    padding: 10px;
}

.colors-picker {
    display: flex;
    justify-content: flex-start;
    width: 644px;
    padding: 10px;
    overflow: visible;
}

.colors-picker input {
    display: none;
}

.colors-picker .color-pick {
    position: relative;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 14px;
    border: 1px solid rgba(0, 0, 0, 0.42);
    cursor: pointer;

    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.8);
        &::after {
            opacity: 1;
        }
    }

    &::after {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        content: attr(data-color);
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 8px;
        color: white;
        border-radius: 2px;
        opacity: 0;
        transition: opacity 200ms;
        white-space: nowrap;
        z-index: 10;
    }
}