.search-notes {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-block: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: text;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .20);
    overflow: hidden;
    position: relative;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    height: 50px;
    border-bottom: 1px solid #ccc;
}

.search-container .reset-btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1em;
    color: #888;
    transition: background-color 0.2s, color 0.2s;
}

.search-container .reset-btn:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
    color: #555;
}

.magnifying-glass {
    height: 40px;
    width: 40px;
    font-size: 1.2em;
    color: #888;
    margin: 3px;
    padding: 8px;
}

.search-notes input {
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 1em;
    width: 100%;
    border-radius: 8px
}

.search-notes input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.search-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    z-index: 10;
}

.option-square {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.option-square:hover {
    background-color: #f0f0f0;
}