.label-picker {
    position: fixed;
    color: black;
    font-weight: normal;
    padding-block: 0.35714285714em;
    grid-template-columns: 20px 1fr;
    align-items: start;
    background-color: white;
    z-index: 5;
    border-radius: 0.35714285714em;
    box-shadow: 3px 3px 10px var(--gl-shadow2);

    text-align: center;
}

.label-picker>*:not(ul) {
    padding-inline: 0.35714285714em;
}

.label-picker>* {
    padding-block-end: 0.35714285714em;
}

.label-picker li {
    display: flex;
    align-items: center;
    padding-inline: 0.35714285714em;

    &:hover {
        background-color: var(--gl-shadow1);
    }
}

.label-picker>ul>li>input {
    grid-column: 1;
    width: max-content;
    accent-color: white;
    cursor: pointer;
}

.label-picker>ul>li>label {
    cursor: pointer;
}