.navigation-box {
    position: absolute;
    top: 100%;
    right: 0;

    font-size: 0.875rem;
    font-family: roboto, Arial, sans-serif;
    line-height: 1.42857142857;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: var(--bc-gl1);
    border-radius: 28px;
    border: none;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .3);
    overflow-x: hidden;
    border: solid 8px var(--g-btn4);
    padding: 0.57142857142em;
    width: 24.5714285714em;

    z-index: 4;
}

.navigation-box>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 6em;
    width: 6em;
    padding: 0.42857142857em;
    border-radius: 16px;
    margin: auto;

    &:hover {
        background-color: var(--g-btn4);
    }
}

.navigation-box>a>.btn-logo {
    height: 53px;
    width: 53px;
    object-fit: contain;
}