.user-msg {
    position: fixed;
    bottom: -100px;
    right: .5em;
    padding: .5em;
    background-color: #111;

    font-size: 0.875rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.42857142857;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--gl-shadow1);
}

.user-msg.open {
    bottom: .8em;
    transition: bottom .5s;
}

.user-msg.success {
    background-color: var(--g-btn6);
    color: white;
}

.user-msg.error {
    background-color: var(--color3);
    color: white;
}

.user-msg>.msg {
    margin-inline-end: 1em;
}

.user-msg button {
    position: relative;
    float: right;
    margin-inline-start: 4px;
    background-color: transparent;
    color: inherit;
}


.user-msg button .fa::after {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    width: 1.42857142857em;
    height: 1.42857142857em;
    border-radius: 50%;
    opacity: 0;
    transition: 200ms;
    z-index: -1;
}

.user-msg button .fa:hover::after {
    opacity: 1;
    width: 2.78571428571em;
    height: 2.78571428571em;
}